-# coding: utf-8
#pageGroupsAsk{:data => {:role => 'page'}}
  %form(method='post'){:action => url_for(:delete, @group.name), :data => {:ajax => 'false'}}
    %input(type='hidden' name='_method' value='delete')

    %header{:data => {:role => 'header'}}
      %h1 消去

    %div{:data => {:role => 'content'}}
      本当に削除してもよろしいですか。
      %input(type='submit' value='削除')
      %a{:href => url_for(:show, @group.name), :data => {:role => 'button'}} やめる
