-# coding: utf-8
#pageGroupsEdit{:data => {:role => 'page'}}
  %form(method='post'){:action => url_for(:update, @group.name), :data => {:ajax => 'false'}}
    %input(type='hidden' name='_method' value='put')

    %header{:data => {:role => 'header'}}
      %a{:href => url_for(:show, @group.name), :data => {:icon => 'delete'}} やめる
      %h1 グループの編集
      %input.ui-btn-right(type='submit' value='保存'){:data => {:icon => 'check', :theme => 'b'}}

    %div{:data => {:role => 'content'}}
      %label(for='groupEmail') メールアドレス
      %input(type='email' name='group[email]' id='groupEmail'){:value => @group.email}

      %label(for='groupPassword') パスワード
      %input(type='password' name='group[password]' id='groupPassword')
