-# coding: utf-8
#pageGroupsIndex{:data => {:role => 'page'}}
  %header{:data => {:role => 'header'}}
    %h1 えねころん - ぱぶりっくべーた
    %a.ui-btn-right{:href => url_for(:signup), :data => {:icon => 'plus', :theme => 'b'}} 追加

  %div{:data => {:role =>'content'}}
    - @groups.each do |group|
      %section{:id => group.name, :data => {:role => 'collapsible', :theme => 'a', :'content-theme' => 'a', :collapsed => 'false'}}
        %h1= group.name
        %nav{:data => {:role => 'controlgroup', :type => 'horizontal'}}
          %a{:href => url_for(:edit, group.name), :data => {:inline => 'true', :icon => 'gear', :mini => 'true', :role => 'button'}} 変える
          %a{:href => url_for(:ask, group.name), :data => {:inline => 'true', :icon => 'delete', :mini => 'true', :role => 'button', :rel => 'dialog'}} 消す
