-# coding: utf-8
#pageGroupsShow{:data => {:role => 'page'}}
  %header{:data => {:role => 'header'}}
    %a{:href => url_for(:index)} 戻る
    %h1 グループ一覧
    %a{:href => url_for(:edit, @group.name), :data => {:icon => 'plus', :theme => 'b'}} 編集

  %div{:data => {:role => 'content'}}
    %p= @group.name
    %p= @group.email
