-# coding: utf-8
#pageGroupsSignup{:data => {:role => 'page'}}
  %form(method='post'){:action => url_for(:create), :data => {:ajax => 'false'}}

    %header{:data => {:role => 'header'}}
      %h1 あたらしいグループ
      %input.ui-btn-right(type='submit' value='保存'){:data => {:icon => 'check', :theme => 'b'}}

    %div{:data => {:role => 'content'}}
      %label(for='groupName') グループ名
      %input(type='text' name='group[name]' id='groupName')

      %label(for='groupEmail') メールアドレス
      %input(type='email' name='group[email]' id='groupEmail')

      %label(for='groupPassword') パスワード
      %input(type='password' name='group[password]' id='groupPassword')
