-# coding: utf-8
#pageArticleAsk{:data => {:role => 'page'}}
  %form{:action => url_for(:article, :delete, @group.name, @article.id), :method => 'post', :data => {:ajax => 'false'}}
    %input(type='hidden' name='_method' value='delete')

    %header{:data => {:role => 'header'}}
      %h1 消去

    %div{:data => {:role => 'content'}}
      本当に削除してもよろしいですか。
      %input(type='submit' value='削除')
      %a{:href => url_for(:article, :index, @group.name), :data => {:role => 'button'}} やめる
