-# coding: utf-8
#editPage{:data => {:role => 'page'}}
  %form{:action => url_for(:article, :update, @group.name, @article.id), :method => 'post', :data => {:ajax => 'false'}}
    %input(type='hidden' name='_method' value='put')

    %header{:data => {:role => 'header'}}
      %a{:href => url_for(:article, :index, @group.name), :data => {:icon => 'delete'}} やめる
      %h1 編集画面
      %input.ui-btn-right{:type => 'submit', :value => '保存', :data => {:icon => 'check', :theme => 'b'}}

    %div{:data => {:role =>'content'}}
      %label.ui-hidden-accessible(for='body') ここに文章を書く
      %textarea#body(name='article[body]')
        = preserve(@article.body)
