-# coding: utf-8
#pageArticleNew{:data => {:role => 'page'}}
  %form{:action => url_for(:article, :create, @group.name), :method => 'post', :data => {:ajax => 'false'}}

    %header{:data => {:role => 'header'}}
      %a{:href => url_for(:article, :index, @group.name), :data => {:icon => 'delete'}} やめる
      %h1 新規編集
      %input.ui-btn-right{:type => 'submit', :value => '保存', :data => {:icon => 'check', :theme => 'b'}}

    %div{:data => {:role =>'content'}}
      %label.ui-hidden-accessible(for='body') ここに文章を書く
      %textarea#body(name='article[body]')
        :preserve
          新しいアーティクル
          ==================

          ここに文章をかく
