-# coding: utf-8
#pageArticleShow{:data => {:role => 'page'}}
  %header{:data => {:role => 'header'}}
    %h1 えねころん - ぱぶりっくべーた
    %a.ui-btn-right{:href => url_for(:article, :new, @group.name), :data => {:icon => 'plus', :theme => 'b'}} 追加

  %div{:data => {:role =>'content'}}
    %article{:id => @article.id, :data => {:role => 'collapsible', :theme => 'a', :'content-theme' => 'a', :collapsed => 'false'}}
      = RDiscount.new(@article.body).to_html
      %nav{:data => {:role => 'controlgroup', :type => 'horizontal'}}
        %a{:href => url_for(:article, :edit, @group.name, @article.id), :data => {:inline => 'true', :icon => 'gear', :mini => 'true', :role => 'button'}} 変える
        %a{:href => url_for(:article, :ask, @group.name, @article.id), :data => {:inline => 'true', :icon => 'delete', :mini => 'true', :role => 'button', :rel => 'dialog'}} 消す
