-# coding: utf-8
#pageLoginGroup{:data => {:role => 'page'}}
  %form(method='post'){:action => url_for(:login, :group), :data => {:ajax => 'false'}}
    %header{:data => {:role => 'header'}}
      %h1 ログイン
      %input.ui-btn-right(type='submit' value='ログイン')

    %div{:data => {:role =>'content'}}
      %label(for='groupName') グループ名
      %input#groupName(type='text' name='login')

      %label(for='groupPassword') パスワード
      %input#groupNamePassword(type='password' name='password')
