!!! 5
%html(lang="ja")
  %head
    %meta(charset="UTF-8")
    %title= yield_content(:title)
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %link(rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.css")
    %script(src="http://code.jquery.com/jquery-1.7.1.min.js")
    %script(src="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.js")
  %body= yield
